/**
 * AB_darkbox
 * version: 1.0.0
 */

#darkbox {
	width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    text-align: center;
    padding: 40px 0;

    #darkbox-top {
        cursor: pointer;

        svg { 
            width: 35px;
            fill: #fff;
            margin: 0 25px -10px 0;
        }

        span {
            color: #fff;
            text-transform: uppercase;
        }
    }

    #darkbox-content {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        
        #darkbox-content-image {
            padding-top: 40px;

            img {
                width: 100%;
                max-width: 750px;
                margin: 0 auto;
                display: inherit;
                box-shadow: 0 0 10px rgba(0,0,0,0.8);
            }

            #darkbox-caption {
                padding-top: 40px;
                color: #fff;
                font-style: italic;
                font-size: 18px;
            }
        }

        #darkbox-content-back, #darkbox-content-next {
            margin-top: 45%;
            fill: #fff;
            width: 50px;
            cursor: pointer;
            margin: auto 25px;

            &.inactive {
                opacity: 0.25;
                cursor: inherit;
            }
        }
    }
}


a.darkbox {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;

    img {
        display: block;
    }

    &::before {
        display: block;
        content: "View fullsized";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.65);
        opacity: 0;
        transition: .25s ease opacity;
        display: flex;
        align-items: center;
        padding-left: 50%;
        left: -65px;
    }

    &:hover::before {
        opacity: 1;
    }
}